.DS_Store
.env
.env.dev
.git
.github
.gitignore
.idea
.jekyll-cache
.jekyll-metadata
.sass-cache
tests
__pycache__
_releaser
_site
CONTRIBUTING.md
db.sqlite3
Dockerfile
docker-compose.yml
client/node_modules
/vendor