[tool.poetry]
name = "llmstack"
version = "0.0.11"
description = "Low-code platform to build generative AI apps, chatbots and agents with your data"
authors = ["Ajay Chintala"]
license = "ELv2"
readme = "README.md"
include = [
  "llmstack/client/build/*",
  "llmstack/client/build/static/css/*",
  "llmstack/client/build/static/images/*",
  "llmstack/client/build/static/js/*",
  "llmstack/client/build/static/media/*",
]
exclude = [
  "llmstack/client/src/*",
  "llmstack/client/public/*",
]
packages = [
    {include = "llmstack"},
]

[tool.poetry.scripts]
llmstack = "llmstack.cli:main"
llmstack-runner = "llmstack.common.runner.server:main"

[tool.poetry.dependencies]
python = "^3.10"
aiohttp = {version = "^3.8.4", allow-prereleases = true}
aiosignal = {version = "^1.3.1", allow-prereleases = true}
anyio = {version = "^3.6.2", allow-prereleases = true}
asgiref = {version = "^3.6.0", allow-prereleases = true}
async-timeout = {version = "^4.0.2", allow-prereleases = true}
attrs = {version = "^22.2.0", allow-prereleases = true}
autobahn = {version = "^23.1.2", allow-prereleases = true}
authlib = {version = "^1.2.0", allow-prereleases = true}
automat = {version = "^22.10.0", allow-prereleases = true}
backoff = {version = "^2.2.1", allow-prereleases = true}
chardet = {version = "^5.2.0", platform = "windows", allow-prereleases = true}
channels = {version = "^4.0.0", allow-prereleases = true}
chroma-hnswlib = {version = "^0.7.3", allow-prereleases = true}
chromadb = {version = "^0.4.10", allow-prereleases = true}
click = {version = "^8.1.3", allow-prereleases = true}
constantly = {version = "^15.1.0", allow-prereleases = true}
daphne = {version = "^4.0.0", allow-prereleases = true}
defusedxml = {version = "^0.7.1", allow-prereleases = true}
django = "5.0"
django-allauth = {version = "^0.52.0", allow-prereleases = true}
django-environ = {version = "^0.10.0", allow-prereleases = true}
django-picklefield = {version = "^3.1", allow-prereleases = true}
django-redis = {version = "^5.2.0", allow-prereleases = true}
django-rq = {version = "^2.8.1", allow-prereleases = true}
djangorestframework = {version = "^3.14.0", allow-prereleases = true}
django-flags = {version = "^5.0.12", allow-prereleases = true}
gunicorn = {version = "^20.1.0", allow-prereleases = true}
h11 = {version = "^0.14.0", allow-prereleases = true}
h2 = {version = "^4.1.0", allow-prereleases = true}
httpcore = {version = "^0.16.3", allow-prereleases = true}
httptools = {version = "^0.5.0", allow-prereleases = true}
httpx = {version = "^0.23.3", allow-prereleases = true}
hyperlink = {version = "^21.0.0", allow-prereleases = true}
idna = {version = "^3.4", allow-prereleases = true}
importlib-metadata = {version = "^6.0.0", allow-prereleases = true}
incremental = {version = "^22.10.0", allow-prereleases = true}
jinja2 = {version = "^3.1.2", allow-prereleases = true}
joblib = {version = "^1.2.0", allow-prereleases = true}
jsonschema = {version = "^4.17.3", allow-prereleases = true}
lz4 = {version = "^4.3.2", allow-prereleases = true}
marshmallow = {version = "^3.19.0", allow-prereleases = true}
marshmallow-enum = {version = "^1.5.1", allow-prereleases = true}
multidict = {version = "^6.0.4", allow-prereleases = true}
oauthlib = {version = "^3.2.2", allow-prereleases = true}
packaging = {version = "^23.0", allow-prereleases = true}
pyasn1 = {version = "^0.4.8", allow-prereleases = true}
pyasn1-modules = {version = "^0.2.8", allow-prereleases = true}
pykka = {version = "^3.1.1", allow-prereleases = true}
psycopg2-binary = {version = "^2.9.5", allow-prereleases = true}
pyjwt = {version = "^2.6.0", allow-prereleases = true}
pyopenssl = {version = "^23.1.1", allow-prereleases = true}
python-dateutil = {version = "^2.8.2", allow-prereleases = true}
python3-openid = {version = "^3.2.0", allow-prereleases = true}
pytz = {version = "^2022.7", allow-prereleases = true}
pyyaml = {version = "^6.0", allow-prereleases = true}
redis = {version = "^4.5.4", allow-prereleases = true}
rfc3986 = {version = "^1.5.0", allow-prereleases = true}
rq = {version = "^1.15.1", allow-prereleases = true}
sendgrid = {version = "^6.10.0", allow-prereleases = true}
service-identity = {version = "^21.1.0", allow-prereleases = true}
sqlalchemy = {version = "^1.4.46", allow-prereleases = true}
sqlparse = {version = "^0.4.3", allow-prereleases = true}
tenacity = {version = "^8.2.2", allow-prereleases = true}
typer = {version = "^0.7.0", allow-prereleases = true}
typing-inspect = {version = "^0.8.0", allow-prereleases = true}
typing-extensions = {version = "^4.5.0", allow-prereleases = true}
twisted = {version = "^22.10.0", allow-prereleases = true}
txaio = {version = "^23.1.1", allow-prereleases = true}
urllib3 = {version = "^1.26.13", allow-prereleases = true}
uvicorn = {version = "^0.21.0", allow-prereleases = true}
uvloop = [
  {version = "^0.17.0", allow-prereleases = true, platform = "darwin" },
  {version = "^0.17.0", allow-prereleases = true, platform = "linux" }
  ]
validators = {version = "^0.19.0", allow-prereleases = true}
websockets = {version = "^10.4", allow-prereleases = true}
yarl = {version = "^1.8.2", allow-prereleases = true}
zope-interface = {version = "^6.0", allow-prereleases = true}
ujson = {version = "^5.7.0", allow-prereleases = true}
orjson = {version = "^3.8.14", allow-prereleases = true}
beautifulsoup4 = {version = "^4.12.2", allow-prereleases = true}
django-jsonform = {version = "^2.17.4", allow-prereleases = true}
playwright = "^1.39.0"
geoip2 = {version = "^4.7.0", allow-prereleases = true}
weaviate-client = {version = "^3.22.1", allow-prereleases = true}
google-auth = {version = "^2.22.0", allow-prereleases = true}
pynacl = {version = "^1.5.0", allow-prereleases = true}
scrapy = "^2.11.0"
unstructured = {extras = ["all-docs"], version = "^0.10.30"}
spacy = {version = "^3.6.0", allow-prereleases = true}
striprtf = {version = "^0.0.22", allow-prereleases = true}
tiktoken = {version = "^0.4.0", allow-prereleases = true}
ffmpeg-python = {version = "^0.2.0", allow-prereleases = true}
pydub = {version = "^0.25.1", allow-prereleases = true}
boto3 = {version = "^1.26.122", allow-prereleases = true}
botocore = {version = "^1.29.122", allow-prereleases = true}
yt-dlp = {version = "^2023.9.24", allow-prereleases = true}
pdf2image = {version = "^1.16.3", allow-prereleases = true}
pdfminer-six = {version = "^20221105", allow-prereleases = true}
markdown = {version = "^3.4.4", allow-prereleases = true}
python-pptx = {version = "^0.6.21", allow-prereleases = true}
python-magic = {version = "^0.4.27", allow-prereleases = true}
openai = "^1.1.1"
stability-sdk = {version = "^0.8.4", allow-prereleases = true}
anthropic = "^0.5.0"
toml = "^0.10.2"
junos-eznc = {version="^2.6.8", optional=true}
simplejson = "^3.19.2"
websockify = "^0.11.0"
docker = "^6.1.3"
grpcio-health-checking = "^1.53.0"
croniter = "^2.0.1"
drf-yaml = "^3.0.1"
google-generativeai = "^0.3.1"
scrapy-playwright = "^0.0.33"
argparse = "^1.4.0"

[tool.poetry.extras]
networking = ["junos-eznc"]

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.6.0"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning>=1.0.0,<2.0.0"]
build-backend = "poetry_dynamic_versioning.backend"
