{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'images/icon.png' %}"
      sizes="218x250"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans"
    />
    <style>
      body {
        font-family: "Lato", serif !important;
        font-size: 16px;
        background-color: #e3ed93;
        line-height: 1.6;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: Merriweather + Sans, serif !important;
        color: #183a58;
        font-weight: bold;
        text-shadow: 1px 1px 0px #ffffff;
      }

      h2 {
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 15px;
      }

      ul {
        margin-left: 40px;
      }

      a {
        color: #207797;
        text-decoration: none;
      }

      .container {
        max-width: 900px;
        margin: auto;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
      }

      .logo {
        width: 180px;
      }

      .privacy-title {
        margin-top: 40px;
        margin-bottom: 20px;
      }
    </style>
    <title>
      Promptly: Build AI Apps & Chatbots in Minutes | Privacy Policy
    </title>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-WV60HC9CHD"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-WV60HC9CHD");
    </script>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <img src="{% static 'images/logo.png' %}" class="logo" alt="Logo" />
        <a href="/">Back to Homepage</a>
      </header>
      <h1 class="privacy-title">Privacy Policy</h1>
      <h2>General info</h2>
      <p>
        Your privacy is important to us. It is MakerDojo's policy to respect
        your privacy and comply with any applicable law and regulation regarding
        any personal information we may collect about you, including across our
        websites and other sites we own and operate.
      </p>
      <p>
        Personal information is any information about you that can be used to
        identify you. This includes information about you as a person (such as
        name, address, and date of birth), your devices, payment details, and
        even information about how you use a website or online service.
      </p>
      <p>
        In the event our site contains links to third-party sites and services,
        please be aware that those sites and services have their own privacy
        policies. After following a link to any third-party content, you should
        read their posted privacy policy information about how they collect and
        use personal information. This Privacy Policy does not apply to any of
        your activities after you leave our site.
      </p>
      <p>
        This policy is effective as of 01 June 2022. Last updated: 01 June 2022
      </p>
      <h2>Amendments</h2>
      <p>
        We may, at any time and at our discretion, vary this Privacy Policy by
        publishing the amended Privacy Policy on our website. We recommend you
        check our website regularly to ensure you are aware of our current
        Privacy Policy. In the event we make any significant changes to this
        Privacy Policy we will use our reasonable endeavours to inform you of
        such changes in advance in writing.
      </p>
      <p>
        It is important that the personal information we hold about you is true,
        complete, accurate and current. Accordingly, you must notify us of any
        changes to your personal information (for example, if you change your
        email address).
      </p>
      <h2>The information we collect</h2>
      <p>
        Personal information: is information or an opinion, whether true or not
        and whether recorded in a material form or not, about an individual who
        is identified or reasonably identifiable.
      </p>
      <p>The types of personal information we may collect about you include:</p>
      <ul>
        <li>As a user of our software:</li>
        <ul>
          <li>your name;</li>
          <li>
            your contact details, including email address, mailing address,
            street address and/or telephone number;
          </li>
          <li>your age and/or date of birth;</li>
          <li>your preferences and/or opinions;</li>
          <li>
            your credit card or other payment and bank account details
            (including through our third-party payment processor, if any);
          </li>
          <li>
            information you provide to us in respect of our account recovery
            functions related to your account with us and the use thereof by
            you;
          </li>
          <li>
            information you provide to us, including through feedback, customer
            surveys or otherwise;
          </li>
          <li>
            details of services we have provided to you and/or that you have
            enquired about, and our response to you;
          </li>
          <li>support requests submitted to us and our response to you;</li>
          <li>
            information about your access and use of our Services, including
            through the use of Internet cookies, your communications with our
            online Services, the type of browser you are using, the type of
            operating system you are using and the domain name of your Internet
            service provider;
          </li>
          <li>
            your browser session and geo-location data, device and network
            information (including your IP address), statistics on page views
            and sessions, acquisition sources, search queries and/or browsing
            behaviour;
          </li>
          <li>
            additional personal information that you provide to us, directly or
            indirectly, through your use of our Services, associated
            applications, associated social media platforms and/or accounts from
            which you permit us to collect information;
          </li>
          <li>
            and any other personal information requested by us and/or provided
            by you or a third party.
          </li>
        </ul>
        <li>When you visit our website:</li>
        <ul>
          <li>
            your browser session and geo-location data, device and network
            information, statistics on page views and sessions, acquisition
            sources, search queries and/or browsing behaviour;
          </li>
          <li>
            your contact details, including email address and/or telephone
            number;
          </li>
          <li>your preferences and/or opinions;</li>
          <li>
            information you provide to us, including through feedback, customer
            surveys or otherwise;
          </li>
          <li>
            details of services we have provided to you and/or that you have
            enquired about, and our response to you;
          </li>
          <li>support requests submitted to us and our response to you;</li>
          <li>
            information about your access and use of our Services, including
            through the use of Internet cookies, your communications with our
            online Services, the type of browser you are using, the type of
            operating system you are using and the domain name of your Internet
            service provider;
          </li>
          <li>
            additional personal information that you provide to us, directly or
            indirectly, through your use of our Services, associated
            applications, associated social media platforms and/or accounts from
            which you permit us to collect information;
          </li>
          <li>
            and any other personal information requested by us and/or provided
            by you or a third party.
          </li>
        </ul>
      </ul>
      <p>
        Sensitive information: is a sub-set of personal information that is
        given a higher level of protection. Sensitive information means
        information relating to your racial or ethnic origin, political
        opinions, religion, trade union or other professional associations or
        memberships, philosophical beliefs, sexual orientation or practices,
        criminal records, health information or biometric information.
      </p>
      <p>
        Sensitive information: We do not actively request sensitive information
        about you. If at any time we need to actively collect sensitive
        information about you, unless otherwise permitted by law, we will first
        obtain your consent and we will only use it as required or authorised by
        law. We may inadvertently collect your sensitive information through
        your use of our Services. To the extent that we inadvertently collect
        your sensitive information, we will only use it with your consent and as
        required or authorised by law.
      </p>
      <h2>How we collect personal information</h2>
      <p>We collect personal information in a variety of ways, including:</p>
      <ul>
        <li>
          Directly: We collect personal information which you directly provide
          to us, including when you register for an account, through the
          ‘contact us’ form on our website, when you interact with or utilise
          our Services, via email, when you provide feedback to us on our
          website and/or feedback form, when you interact with us on our
          webchat, when you request our assistance via email, or over the
          telephone, or when otherwise communicating with you.
        </li>
        <li>
          Indirectly: We may collect personal information which you indirectly
          provide to us while interacting with us or third parties, such as when
          you use our Services, when you review our Services online, via social
          media or blogs, from marketing events, or over the telephone.
        </li>
        <li>
          From third parties: We collect personal information from third
          parties, such as third-party payment providers, service providers who
          have referred you to us, details of your use of our website from our
          analytics and cookie providers and marketing providers. See the
          “Cookies” section below for more detail on the use of cookies.
        </li>
      </ul>
      <h2>Why we collect, hold, use and disclose personal information</h2>
      <p>
        We process your person information for purposes based on legitimate
        business interests, the fulfilment of our contract with you, compliance
        with our legal obligations, and/or your consent which are described
        further below:
      </p>
      <p>As a user of our software</p>
      <ul>
        <li>
          to enable you to access and use our software, including to provide you
          with a login;
        </li>
        <li>to provide our Services to you;</li>
        <li>
          to run promotions, competitions and/or offer additional benefits to
          you;
        </li>
        <li>
          to contact and communicate with you about our Services, including in
          response to any support requests you lodge with us or other enquiries
          you make with us;
        </li>
        <li>
          for internal record keeping, administrative, invoicing and billing
          purposes;
        </li>
        <li>
          for analytics, market research and business development, including to
          operate and improve our Services and associated applications, if any;
        </li>
        <li>
          for advertising and marketing, including to send you promotional
          information about our services and other information that we consider
          may be of interest to you;
        </li>
        <li>
          to comply with our legal obligations and resolve any disputes that we
          may have; and/or
        </li>
        <li>if otherwise required or authorised by law.</li>
      </ul>
      <div class="row">
        <div
          class="col12"
          style="
            justify-content: center;
            align-items: end;
            color: #207797;
            margin: 20px auto 5px auto;
            gap: 10px;
            text-align: center;
          "
        >
          &copy; 2023 Promptly. All rights reserved |
          <a
            href="mailto:contact@trypromptly.com"
            style="color: #207797; text-decoration: none"
            target="_blank"
            >Contact Us</a
          >&nbsp;|&nbsp;<a
            href="mailto:pricing@trypromptly.com"
            style="color: #207797; text-decoration: none"
            target="_blank"
            >Pricing</a
          >&nbsp;|&nbsp;<a
            href="https://docs.trypromptly.com"
            style="color: #207797; text-decoration: none"
            target="_blank"
            >Docs</a
          >&nbsp;|&nbsp;<a
            href="privacy.html"
            style="color: #207797; text-decoration: none"
            >Privacy</a
          >&nbsp;|&nbsp;<a
            href="tos.html"
            style="color: #207797; text-decoration: none"
            >Terms of Service</a
          >&nbsp;|&nbsp;<a
            href="https://twitter.com/trypromptly"
            style="color: #207797; text-decoration: none"
            target="_blank"
            >Twitter</a
          >&nbsp;|&nbsp;<a
            href="https://discord.gg/3JsEzSXspJ"
            style="color: #207797; text-decoration: none"
            target="_blank"
            >Discord</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
