{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'images/icon.png' %}"
      sizes="218x250"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans"
    />
    <style>
      body {
        font-family: "Lato", serif !important;
        font-size: 16px;
        background-color: #e3ed93;
        line-height: 1.6;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: Merriweather + Sans, serif !important;
        color: #183a58;
        font-weight: bold;
        text-shadow: 1px 1px 0px #ffffff;
      }

      h2 {
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 15px;
      }

      ul {
        margin-left: 40px;
      }

      a {
        color: #207797;
        text-decoration: none;
      }

      .container {
        max-width: 900px;
        margin: auto;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
      }

      .logo {
        width: 180px;
      }

      .terms-title {
        margin-top: 40px;
        margin-bottom: 20px;
      }
    </style>
    <title>
      Promptly: Build AI Apps & Chatbots in Minutes | Terms of Service
    </title>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-WV60HC9CHD"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-WV60HC9CHD");
    </script>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <img src="{% static 'images/logo.png' %}" class="logo" alt="Logo" />
        <a href="/">Back to Homepage</a>
      </header>
      <h1 class="terms-title">Terms of Service</h1>
      <h2>Acceptance of terms</h2>
      <p>
        By accessing or using Promptly by MakerDojo (MakerDojo, Inc), you agree
        to be bound by these terms of service (the "Terms") and our privacy
        policy (the "Privacy Policy"). If you do not agree to these Terms or the
        Privacy Policy, do not use the platform.
      </p>
      <h2>Services</h2>
      <p>
        Promptly provides users with a platform to build AI apps and chatbots.
        The platform may be used for free, but may also require payment for
        certain services. MakerDojo reserves the right to change or discontinue
        any aspect of the platform at any time, including but not limited to the
        availability of any feature, database, or content. MakerDojo may also
        impose limits on certain features and services or restrict your access
        to parts or all of the platform without notice or liability.
      </p>
      <h2>User accounts</h2>
      <p>
        In order to access and use the platform, you may be required to create
        an account and provide certain information about yourself, including but
        not limited to your name, email address, and payment details. You are
        responsible for maintaining the confidentiality of your account login
        information and for any activity that occurs under your account. You
        agree to immediately notify Promptly if you suspect any unauthorized use
        of your account.
      </p>
      <h2>Data privacy</h2>
      <p>
        Any data that you input into the platform, including but not limited to
        personal data, will be treated as confidential in accordance with the
        terms of the Privacy Policy. The platform may use this data to provide
        analytics and insights, but will not share this data with third parties
        without your consent, except as required by law or as necessary to
        provide the platform's services.
      </p>
      <h2>Intellectual property</h2>
      <p>
        Promptly no-code platform by MakerDojo and its content, including but
        not limited to text, graphics, and code, are the property of MakerDojo
        and are protected by intellectual property laws. You may not use the
        platform or its content for any commercial purpose without the express
        written consent of MakerDojo.
      </p>
      <h2>Disclaimer of warranties</h2>
      <p>
        Promptly by MakerDojo is provided "as is" and without warranties of any
        kind, either express or implied. MakerDojo does not guarantee that the
        platform will be error-free or uninterrupted. MakerDojo will not be
        liable for any damages resulting from the use of the platform, including
        but not limited to direct, indirect, incidental, consequential, or
        punitive damages.
      </p>
      <h2>Termination</h2>
      <p>
        MakerDojo reserves the right to terminate or suspend your access to the
        platform at any time, for any reason, and without notice.
      </p>
      <h2>Governing law</h2>
      <p>
        These Terms and your use of the platform will be governed by and
        construed in accordance with the laws of the state of Delaware, without
        giving effect to any principles of conflicts of law.
      </p>
      <h2>Dispute resolution</h2>
      <p>
        Any disputes arising out of or in connection with these Terms or the
        platform will be resolved through binding arbitration in accordance with
        the rules of the American Arbitration Association.
      </p>
      <h2>Changes to terms of service</h2>
      <p>
        MakerDojo reserves the right to update these Terms at any time and will
        post any updates on this page. It is your responsibility to review these
        Terms periodically for any changes. Your continued use of the platform
        after any changes have been made will constitute acceptance of those
        changes.
      </p>
      <div class="row">
        <div
          class="col12"
          style="
            justify-content: center;
            align-items: end;
            color: #207797;
            margin: 20px auto 5px auto;
            gap: 10px;
            text-align: center;
          "
        >
          &copy; 2023 Promptly. All rights reserved |
          <a
            href="mailto:contact@trypromptly.com"
            style="color: #207797; text-decoration: none"
            target="_blank"
            >Contact Us</a
          >&nbsp;|&nbsp;<a
            href="mailto:pricing@trypromptly.com"
            style="color: #207797; text-decoration: none"
            target="_blank"
            >Pricing</a
          >&nbsp;|&nbsp;<a
            href="https://docs.trypromptly.com"
            style="color: #207797; text-decoration: none"
            target="_blank"
            >Docs</a
          >&nbsp;|&nbsp;<a
            href="privacy.html"
            style="color: #207797; text-decoration: none"
            >Privacy</a
          >&nbsp;|&nbsp;<a
            href="tos.html"
            style="color: #207797; text-decoration: none"
            >Terms of Service</a
          >&nbsp;|&nbsp;<a
            href="https://twitter.com/trypromptly"
            style="color: #207797; text-decoration: none"
            target="_blank"
            >Twitter</a
          >&nbsp;|&nbsp;<a
            href="https://discord.gg/3JsEzSXspJ"
            style="color: #207797; text-decoration: none"
            target="_blank"
            >Discord</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
