@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 768px) {
  .prompt-hub-container {
    justify-content: center;
  }

  .prompt-hub-card {
    width: 90% !important;
    margin: auto;
  }
}

.rjsf .form-group fieldset {
  border: none;
}

.output-form {
  width: 100%;
  padding: 4px;
}
