name: llmstack-dev
services:
  api:
    image: llmstack-api:latest
    command: apiserver
    volumes:
      - ../llmstack:/code/llmstack
      - userdata:/home/appuser/data
    links:
      - postgres:postgres
    ports:
      - 9000:9000
    expose:
      - 9000
    env_file:
      - .env.dev
    cap_add:
      - SYS_PTRACE
  rqworker:
    image: llmstack-api:latest
    command: rqworker
    volumes:
      - ../llmstack/:/code/llmstack
    depends_on:
      - redis
      - postgres
    links:
      - redis:redis
      - postgres:postgres
    env_file:
      - .env.dev
  app:
    image: llmstack-app:latest
    ports:
      - 3000:80
    env_file:
      - .env.dev
    depends_on:
      - api
    volumes:
      - userdata:/usr/share/nginx/html/media
  redis:
    image: redis:latest
    ports:
      - "26379:6379"
    command: redis-server
    restart: unless-stopped
    volumes:
      - redisdata:/data
    env_file:
      - .env.dev
  postgres:
    image: postgres:16-alpine
    ports:
      - "25432:5432"
    command: "postgres -c fsync=off -c full_page_writes=off -c synchronous_commit=OFF"
    restart: unless-stopped
    volumes:
      - postgresdata:/var/lib/postgresql/data
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
      POSTGRES_USER: ${DATABASE_USERNAME:-postgres}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-}
      PGDATA: /var/lib/postgresql/data/pgdata
    env_file:
      - .env.dev
  weaviate:
    image: semitechnologies/weaviate:1.25.7
    ports:
      - 28080:8080
    volumes:
      - weaviatedata:/var/lib/weaviate
    environment:
      QUERY_DEFAULTS_LIMIT: 20
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      PERSISTENCE_DATA_PATH: "/var/lib/weaviate"
      DEFAULT_VECTORIZER_MODULE: text2vec-openai
      ENABLE_MODULES: text2vec-openai
      CLUSTER_HOSTNAME: "weaviate-node"
      LOG_LEVEL: "error"
    env_file:
      - .env.dev
volumes:
  redisdata:
  postgresdata:
  weaviatedata:
  userdata:
