/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: radial-gradient(circle, #c9dfff, #4fa4ff);
}

.heroBanner h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #061522;
}

.heroBanner p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #2c3746;
}

[data-theme="dark"] .heroBanner {
  background-image: radial-gradient(circle, #061522, #032c52);
}

[data-theme="dark"] .heroBanner h1 {
  color: #fff;
}

[data-theme="dark"] .heroBanner p {
  color: #92aed4;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroBanner h1 {
    font-size: 2rem;
  }

  .heroBanner p {
    font-size: 1rem;
  }

  .heroBanner .buttons {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
